# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environment and Package builds
*.egg-info/
build/
dist/
.env
venv/
env/

# Mac OS clutter
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and outputs
data/sonora/
data/ATMO_2020_models/
data/cooltrack_coefficients.dat
exoweave_outputs/
tmp/
outputs/
*.parquet
*.dat
*.h5

# ExoWeave / FuzzyCore specific outputs
results/
failed/
solver_steps.csv
test_run.csv
*.nml
*.pkl
*.pdf

# Readme generator
generate_readme.py
*.zip
